/** {margin: 0; padding: 0;}
 
div {
  margin: 20px;
}
 
ul {
  list-style-type: none;
  width: 500px;
}
 
h3 {
  font: bold 25px/1.5 Helvetica, Verdana, sans-serif;
}
 
li img {
  float: right;
  margin: 0 15px 0 0;
  height: 30px;
  width: 30px;
}
 
li {	
  padding: 10px;
  overflow: none;
}

li.list {
	font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

li.item {
	font: 15px/1.5 Helvetica, Verdana, sans-serif;
}

 
li.list:hover {
  background: #eee;
}

li.item:hover {
  background: #fff;
}

img:hover {
	cursor: pointer;
}*/

#listcontainer ul
{
margin: 0;
padding: 0;
list-style-type: none;
}

#listcontainer li
{
display: block;
color: #FFF;
background-color: #036;
padding: 3px 12px 3px 8px;
text-decoration: none;
border-bottom: 1px solid #fff;
font-weight: bold;
}

#listcontainer li:hover
{
background-color: #000;
color: #FFF;
}

#listcontainer li li
{
display: block;
color: #FFF;
background-color: #69C;
padding: 3px 3px 3px 17px;
text-decoration: none;
border-bottom: 1px solid #fff;
font-weight: normal;
}

#listcontainer li ul li:hover
{
background-color: #696969;
color: #FFF;
}
